<p id="notice"><%= notice %></p>

<h1>Recipes</h1>


<h2>Name
Ingredients
Instructions
Rating</h2>


<% @recipes.each do |recipe| %>

    <%= recipe.name %>
    <%= recipe.ingredients %>
    <%= recipe.instructions %>
    <%= recipe.rating %>
    <%= link_to 'Show', recipe %>
    <%= link_to 'Edit', edit_recipe_path(recipe) %>
    <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br>

<%= link_to 'New Recipe', new_recipe_path %>


    