<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
	<div class="panel-heading">
  	<strong>Name: <%= @recipe.name %></strong>
	</div>
</div>

<% if @recipe.avatar_file_name != nil %>
   <%= image_tag recipe.avatar.url(:medium), class: "img-responsive" %>
<% end %>

<div class="panel panel-primary">
	<div class="panel-body">
  	<p><strong>Ingredients:</strong>
  	<%= @recipe.ingredients %></p>
  	<br>
  	<p><strong>Instructions:</strong>
  	<%= @recipe.instructions %></p>
  </div>
</div>

<p>
  <strong>Rating:</strong>
  <% "#{@recipe.rating}".to_i.times do |rank| %>
	<span class="glyphicon glyphicon-star"></span>
	<% end %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-info" %> |
<%= link_to 'Back', recipes_path, class: "btn btn-info" %>
